.search-results .tweets-container,.favorite-tweets .tweets-container{
    height: calc(100vh - 80px);
    overflow: scroll;
    padding: 0;
    margin:0;
    max-width: none;
}

.tweet-attachment-img{
    display: block;
    margin:auto;
}
