@import "~bootstrap/scss/bootstrap";
@import "./variables.scss";

.App{
  background-color: $twitter-background;
  height:100vh;
  color: $twitter-primary-font-color;
}

.app-route-col{
  height: 100vh;
}

.nav-col{
  border-right: 1px solid $twitter-border-color-primary
}

.App .app-container{
 max-width: none;
 margin: 0;
}
