 
//  Background colors
 $twitter-background: #000000;

//  font colors
$twitter-primary-font-color: rgb(217, 217, 217);

// font Sizes
$twitter-font-size-big: 20px;
$twitter-icon-size: 25px;


//link
$twitter-link-active-color : rgba(29,161,242,1.00);
$twitter-link-hover-background : rgba(29,161,242,0.1);

//border
$twitter-border-color-primary: rgb(47, 51, 54);
